@using BookLibrary.Data.Entities
@using BookLibrary.Models

@if (ViewBag.Books != null)
{

    <table class="table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Publisher</th>
                <th>Count</th>
                <th>Price</th>
                <th>Authors</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Books)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Genre</td>
                    <td>@item.Publisher.Name</td>
                    <td>@item.Count</td>
                    <td>@item.Price</td>
                    <td>
                        <ul>
                            @foreach (var author in item.Authors)
                            {
                                <li>@author.Name</li>
                                <a asp-controller="Book" asp-action="Info" asp-route-id="@item.ID">More info</a>
                            }
                        </ul>
                    </td>
                    @* <td>
            <a asp-controller="Book" asp-action="Add" asp-route-id="@item.Id">Edit</a>
            </td>*@
                    <td>
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Author" asp-action="Index" method="get">
        <button type="submit">Go to Back</button>
    </form>

}
